@import url("https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&family=Pacifico&family=Poetsen+One&family=Reddit+Mono:wght@200..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sevillana&display=swap");

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  font-family: "Amaranth", sans-serif;
  padding: 20px;
  background-color: var(--color-withe-milk);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
}

.header-content {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px 30px 30px;
  margin: 20px 0 20px 0;
  border: solid 2px var(--color-brown);
  background-color: var(--color-light-brown);
  border-radius: 10px;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-menu {
  align-content: center;
}

.header-nav ul {
  display: flex;
}

.header-nav li {
  padding-left: 10px;
}

img.header-logo {
  height: 60px;
}

h1 {
  font-size: 2em;
}

h2.home-title,
h2.catalog-title,
h3 {
  color: var(--color-brown);
  border: solid 2px var(--color-light-brown);
  background-color: var(--color-cream);
  border-radius: 10px;
}

h2 {
  font-size: 1.5em;
  text-align: center;
  padding: 20px 30px 20px 30px;
}

h3 {
  font-size: 1.3em;
  text-align: center;
  margin-bottom: 20px;
  padding: 20px 0 20px 0;
}

p {
  text-align: justify;
  color: var(--color-brown);
  border: solid 1px var(--color-milk);
  background-color: var(--color-milk);
  border-radius: 10px;
  padding: 10px;
}

button {
  color: var(--color-brown);
  background-color: var(--color-cream);
  border: solid 2px var(--color-light-brown);
  border-radius: 10px;
  padding: 10px;
}

.section-up {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.section-up p {
  border: solid 2px var(--color-brown);
}

.section-down {
  display: flex;

  gap: 20px;
}

article {
  background-color: var(--color-milk);
  border: solid 2px var(--color-brown);
  border-radius: 10px;
  margin-bottom: 20px;
}

.home-img {
  border-radius: 10px;
}

.button-catalog {
  display: flex;
  justify-content: center;
}

.button-discover {
  display: flex;
  justify-content: center;
}

button.button-discover_content {
  margin-bottom: 20px;
}
footer {
  margin-top: auto;
}
footer p {
  color: black;
  border: solid 2px var(--color-brown);
  background-color: var(--color-light-brown);
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
  padding: 5px;
}

footer ul {
  display: flex;
  justify-content: center;
}

footer li {
  border: solid 2px var(--color-brown);
  background-color: var(--color-light-brown);
  border-radius: 10px;
  padding: 5px;
  margin: 0 5px 0 5px;
}

@media screen and (min-width: 300px) and (max-width: 940px) {
  h2 {
    margin-bottom: 20px;
  }

  .header-nav ul {
    display: flex;
    flex-direction: column;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  .home-img {
    width: 100%;
    margin: 20px 0 20px 0;
    align-self: center;
  }

  button.button-catalog_content {
    margin-top: 20px;
  }

  .section-down {
    display: contents;
  }
}

@media screen and (min-width: 941px) {
  .home-img {
    width: 50%;
    margin: 20px 0 20px 0;
  }

  .section-up p {
    margin-bottom: 20px;
  }

  .section-up_content {
    display: flex;
  }

  .section-up_sub-content {
    align-content: center;
  }

  .section-up_sub-content p {
    margin-right: 20px;
    padding: 50px;
  }

  .button-view_allArticles {
    margin-right: auto;
  }
}

/* catalog */

.section-catalog {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

h2.catalog-title {
  margin-bottom: 20px;
  background-image: url("/images/coffees/691550753.png");
  background-position: 20% 40%;
  background-size: 150%;
  padding: 100px 0 100px 0;
}

/* shop */

.shop-illustration_img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 2px var(--color-light-brown);
  border-radius: 10px;
  margin-bottom: 20px;
}

.shop-illustration_img-container img {
  max-width: 100%;
  border-radius: 10px;
}

.detail-container p {
  border: solid 2px var(--color-light-brown);
  padding: 200px 0 200px 0;
  margin-bottom: 20px;
}
