<article>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit consequuntur ipsa explicabo
        asperiores
        illum
        consequatur id minus quod accusamus error eveniet cumque, nihil similique, corporis voluptate
        quos
        optio
        officia
        officiis!</p>
    <div class="button-discover">
        <button class="button-discover_content">Découvrir</button>
    </div>
</article>
<article>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit consequuntur ipsa explicabo
        asperiores
        illum
        consequatur id minus quod accusamus error eveniet cumque, nihil similique, corporis voluptate
        quos
        optio
        officia
        officiis!</p>
    <div class="button-discover">
        <button class="button-discover_content">Découvrir</button>
    </div>
</article>
<article>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit consequuntur ipsa explicabo
        asperiores
        illum
        consequatur id minus quod accusamus error eveniet cumque, nihil similique, corporis voluptate
        quos
        optio
        officia
        officiis!</p>
    <div class="button-discover">
        <button class="button-discover_content">Découvrir</button>
    </div>
</article>