<footer>
    <div class="container">
        <p>&copy; 2024 Mon site web. Tous droits réservés.</p>
        <ul class="social-links">
            <li><a href="https://www.facebook.com/monsiteweb"><i class="fab fa-facebook-f">facebook</i></a></li>
            <li><a href="https://www.twitter.com/monsiteweb"><i class="fab fa-twitter">twitter</i></a></li>
        </ul>
    </div>
</footer>

</html>