<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/images/logo.svg" type="image/svg+xml">
    <title>oCofee</title>
</head>

<header>
    <div class="header-content">
        <div class="header-logo">
            <img class="header-logo" src="/images/logo.svg" alt="Logo de oCofee">
            <h1>oCofee</h1>
        </div>
        <div class="header-menu">
            <nav class="header-nav">
                <ul>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="/catalog">Catalogue</a></li>
                    <li><a href="/shop">Boutique</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>