<%- include('../partials/header') %>

    <body>
        <main>
            <div>
                <h2 class="catalog-title">
                    Notre catalogue
                </h2>
            </div>
            <section class="section-down">
                <% coffees.forEach((detailCoffe, index)=> { %>
                    <%- include('../partials/articleDetail', { detailCoffe, hidden: index>= 3 }) %>
                        <% }); %>

            </section>
            <button id="viewAllButton" class="button-view_allArticles">Voir tout</button>
        </main>
        <script src="/js/catalog.js"></script>
    </body>
    </section>

    <%- include('../partials/footer') %>