<%- include('../partials/header') %>

    <body>
        <main>
            <section class="section-catalog">
                <div>
                    <h2 class="catalog-title">Notre catalogue</h2>
                </div>
                <%- include('../partials/articles') %>
                    <button class="button-view_allArticles">Voir tout</button>
        </main>
    </body>
    </section>

    <%- include('../partials/footer') %>