<%- include('../partials/header') %>


    <body>
        <main>
            <section class="section-up">
                <h2 class="home-title">Bienvenue sur notre boutique oCoffes</h2>
                <div class="section-up_content">
                    <div class="section-up_sub-content">
                        <p>Découvrez la boutique de café des frères Jean et Jacques Pepper, où l'atmosphère chaleureuse
                            et
                            les
                            arômes envoûtants vous transportent dans un univers de saveurs. Nos experts passionnés vous
                            invitent
                            à explorer une variété de grains de café du monde entier, sélectionnés avec soin pour leur
                            qualité
                            et leur respect de l'environnement. Notre engagement envers le commerce équitable et notre
                            savoir-faire, acquis en Colombie, font de notre boutique un lieu incontournable pour les
                            amateurs de
                            café.
                        </p>
                        <div class="button-catalog">
                            <button class="button-catalog_content">
                                <a href="/catalog">Voir le catalogue</a>
                            </button>
                        </div>
                    </div>
                    <img class="home-img" src="images/about.jpg" alt="Image de plusieurs tasses de café">
                </div>
            </section>
            <section class="section-down">
                <h3>Nouveautés</h3>
                <%- include('../partials/articles') %>
            </section>
        </main>
    </body>

    <%- include('../partials/footer') %>