<%- include('../partials/header') %>

    <body>
        <main>
            <div class="shop-illustration_img-container">
                <img src="/images/coffees/100955890.png" alt="Image de graines de café">
            </div>
            <div class="detail-container">
                <p></p>
            </div>
        </main>
    </body>

    <%- include('../partials/footer') %>